.feedsWrapper {
    padding: 0 3px 4px 8px;
}

.feed {
    display: flex;
    justify-content: space-between;
}

.leftFeed {
    margin: 5rem 0 0 3rem;
}

.leftFeed p {
    margin: 1rem 0;
    font-weight: 400;
    font-size: 15px;
}

.rightFeed {
    width: 18.7%;
    background: rgb(86, 84, 84);
    padding: 8px;
    margin-right: 3.7px;
}

.rightFeed h3 {
    text-align: center;
    margin: 1rem;
    font-weight: bolder;
    color: #000;
}

.collectionFeeds {
    width: 90%;
}

.collectionFeed {
    background: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border: 0;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    transition: 0.1s ease;
}

.collectionFeed:hover {
    transform: scale(1.02);
}

.icon {
    font-weight: bolder !important;
    font-size: 14px !important;
    cursor: pointer;
    color: #000;
}

.icon:hover {
    transform: scale(1.06);
    margin-left: 5px;
    transition: all 0.3s ease;
}

.collectionFeed h4 {
    font-weight: 300;
    font-size: 17px;
    margin-right: 5px;
}

.btn_1 {
    display: block;
    margin: 0 auto;
    margin-bottom: 0;
    background: rgb(250, 164, 5);
    color: black;
    border: 1px solid rgba(109, 105, 105, 0.9);
    border-radius: 5px;
    padding: 3px 7px;
    cursor: pointer;
}

.btn_1:hover {
    box-shadow: 0 0 2px rgba(60, 58, 58, 0.9);
    transform: scale(1.01);
    transition: all 0.5 ease;
}

.btn0:hover {
    box-shadow: 0 0 3px rgba(60, 58, 58, 0.9);
}

.btn0 {
    background: rgb(250, 164, 5);
    color: black;
    border: 1px solid rgba(109, 105, 105, 0.9);
    border-radius: 5px;
    padding: 4.7px 7px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .rightFeed {
        width: 30%;
    }

    .collectionFeed {
        margin-right: 0.2px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .rightFeed {
        width: 44.3%;
    }

    .collectionFeed {
        margin-right: 0.2px;
        width: 100%;
    }

    .leftFeed {
        margin-top: 5rem;
        margin-left: 0.7rem;
        padding-right: 1.2rem;
    }
}