.container{
    width: 85%;
    /* background: rgb(242, 236, 236); */
    overflow: hidden;
    height: 60vh;
    margin: 3rem auto;
    background: rgb(173, 170, 170);
}
@media screen and (max-width: 1024px){
    .container{
        width: 92%;
    }
}
@media screen and (max-width: 600px){
    .container{
        width: 98.7%;
        height: 62vh;
    }
}